<div class="col-xl-12 recipe-item-card-section d-flex flex-column align-items-inherit" (click)="selectRecipe(recipe)">
    <div class="recipe-item-data d-flex flex-row justify-content-between align-items-center mt-3">
        <div class="recipe-text-info-section d-flex flex-column">
            <h1 class="recipe-title"> {{recipe.name}} </h1>
            <p class="recipe-description"> {{recipe.description}} </p>
        </div>
        <div class="recipe-img-section">
            <img src=" {{recipe.imagePath}} " alt="" class="recipe-img">
        </div>
    </div>
</div>